/* AdminPage.css */

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0e0d0d;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header Styles */
  .header {
    background-color: #6a0dad;
    color: black;
    text-align: center;
    padding: 20px 0;
  }
  
  .header h1 {
    margin: 0;
  }
  
  /* Add Product Form Styles */
  .add-product-container {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  .add-product-container h2 {
    color: #6a0dad;
    margin: 0;
  }
  
  .add-product-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }
  
  .add-product-form label {
    width: 100%;
    font-weight: bold;
  }
  
  .add-product-form input[type="text"],
  .add-product-form input[type="number"],
  .add-product-form input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .add-product-form input[type="text"]:disabled,
  .add-product-form input[type="text"]:disabled {
    background-color: #f0f0f0;
  }
  
  .add-product-form button {
    background-color: #6a0dad;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-product-form button:hover {
    background-color: #4c0774;
  }
  
  /* Product List Styles */
  .product-list {
    margin-top: 20px;
  }
  
  .product-list h2 {
    color: #6a0dad;
    margin: 0;
  }
  
  .product-search {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .product-search input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .product-search button {
    background-color: #6a0dad;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .product-search button:hover {
    background-color: #4c0774;
  }
  
  .product-items {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .product-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-grow: 1;
  }
  
  .product-images img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .product-details-1 {
    flex-grow: 2;
  }
  
  .product-details-1 strong {
    font-size: 1.2em;
    color: #6a0dad;
    margin-bottom: 10px;
  }
  
  .product-details-2 {
    flex-grow: 1;
    text-align: right;
  }
  
  .product-details-2 p {
    margin: 5px 0;
  }
  
  .product-buttons-2 {
    margin-top: 10px;
    text-align: right;
  }
  
  .product-buttons-2 button {
    background-color: #6a0dad;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .product-buttons-2 button:hover {
    background-color: #4c0774;
  }
  